# Two Proposed Dataset Options For Next Project

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np

##First choice: Cirrhosis Dataset

###Data Dictionary:

1. ID: unique identifier
2. N_Days: number of days between registration and the earlier of death, transplantation, or study analysis time in July 1986
3. Status: status of the patient C (censored), CL (censored due to liver tx), or D (death)
4. Drug: type of drug D-penicillamine or placebo
5. Age: age in [days]
6. Sex: M (male) or F (female)
7. Ascites: presence of ascites N (No) or Y (Yes)
8. Hepatomegaly: presence of hepatomegaly N (No) or Y (Yes)
9. Spiders: presence of spiders N (No) or Y (Yes)
10. Edema: presence of edema N (no edema and no diuretic therapy for edema), S (edema present without diuretics, or edema resolved by diuretics), or Y (edema despite diuretic therapy)
11. Bilirubin: serum bilirubin in [mg/dl]
12. Cholesterol: serum cholesterol in [mg/dl]
13. Albumin: albumin in [gm/dl]
14. Copper: urine copper in [ug/day]
15. Alk_Phos: alkaline phosphatase in [U/liter]
16. SGOT: SGOT in [U/ml]
17. Triglycerides: triglicerides in [mg/dl]
18. Platelets: platelets per cubic [ml/1000]
19. Prothrombin: prothrombin time in seconds [s]
20. Stage: histologic stage of disease (1, 2, 3, or 4)

### Load and Display Dataset

In [22]:
# Load data
df_cirr = pd.read_csv('/content/drive/MyDrive/Data/cirrhosis.csv')
df_cirr.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [23]:
df_cirr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   N_Days         418 non-null    int64
 2   Status         418 non-null    object
 3   Drug           312 non-null    object
 4   Age            418 non-null    int64
 5   Sex            418 non-null    object
 6   Ascites        312 non-null    object
 7   Hepatomegaly   312 non-null    object
 8   Spiders        312 non-null    object
 9   Edema          418 non-null    object
 10  Bilirubin      418 non-null    float64
 11  Cholesterol    284 non-null    float64
 12  Albumin        418 non-null    float64
 13  Copper         310 non-null    float64
 14  Alk_Phos       312 non-null    float64
 15  SGOT           312 non-null    float64
 16  Tryglicerides  282 non-null    float64
 17  Platelets      407 non-null    float64
 18  Prothrombin    416 non-null    float64
 19  Stage          412 non-null    float64
dtypes: float64(10), int64(3), object(7)
memory usage: 65.4+ KB

In [24]:
df_cirr.shape

(418, 20)

1. Source of data
 - Data Source: https://www.kaggle.com/datasets/fedesoriano/cirrhosis-prediction-dataset
2. Brief description of data
 - The following data contains the information collected from the Mayo Clinic trial in primary biliary cirrhosis (PBC) of the liver conducted between 1974 and 1984.
3. What is the target?
 - The chosen target is 'Drug'.
4. What does one row represent? (A person?  A business?  An event? A product?)
 - One row presents one patient.
5. Is this a classification or regression problem?
 - This is a classification problem.
6. How many features does the data have?
 - 17 features
7. How many rows are in the dataset?
 - This dataset contains 418 rows
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
 - One challenge I see is what should be done the with 'Age' column.

##Second choice: Metabolic Syndrome Dataset

### Load and Display Dataset

In [ ]:
# Load Data
df_msp = pd.read_csv('/content/drive/MyDrive/Data/Metabolic  Syndrome.csv')
df_msp.head()

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn

In [ ]:
df_msp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seqn               2401 non-null   int64
 1   Age                2401 non-null   int64
 2   Sex                2401 non-null   object
 3   Marital            2193 non-null   object
 4   Income             2284 non-null   float64
 5   Race               2401 non-null   object
 6   WaistCirc          2316 non-null   float64
 7   BMI                2375 non-null   float64
 8   Albuminuria        2401 non-null   int64
 9   UrAlbCr            2401 non-null   float64
 10  UricAcid           2401 non-null   float64
 11  BloodGlucose       2401 non-null   int64
 12  HDL                2401 non-null   int64
 13  Triglycerides      2401 non-null   int64
 14  MetabolicSyndrome  2401 non-null   object
dtypes: float64(5), int64(6), object(4)
memory usage: 281.5+ KB

In [ ]:
df_msp.shape

(2401, 15)

1. Source of data
 - Data Source: https://data.world/informatics-edu/metabolic-syndrome-prediction
2. Brief description of data
 - The dataset for analysis came from the NHANES initiative where the following variables were combined from multiple tables with SQL: abnormal waist circumference, triglycerides above 150, HDL cholesterol below 50 in women or 40 in men, history of hypertension and mildly elevated fasting blood sugar (100-125).
3. What is the target?
 - The target is 'MetabolicSyndrome'
4. What does one row represent? (A person?  A business?  An event? A product?)
 - One row presents a patient.
5. Is this a classification or regression problem?
 - This is a classification problem
6. How many features does the data have?
 - The data has 10 features
7. How many rows are in the dataset?
 - This dataset contains 2401 rows.
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
 - No immediate challanges can be forseen at the moment.